################ e-XPLoDeR & HPB BOT - FOR HALF-LIFE ###############-#X#
# Dosya içi klavuzu                                                    #
########################################################################
# Copyright (c) 2003 Ýsa SARI ( e-XPLoDeR - isa@nilinternet.com )      #
# http://www.e-xploder.net                                             #
#                                                                      #
# Bu dosyada, botlarýn özelliklerini ayarlayabilirsiniz.	       #
# Yeterli bilginiz yoksa, standart ayarlarý kullanmanýz tavsiye edilir #
# Daha fazla bilgi ve yardým için Beni Oku dosyasýný okuyabilirsiniz.  #
#                                                                      #
# Ýyi oyunlar dileðiyle...  		                               #
#                                                                      #
#							      Ýsa SARI #
########################################################################



pause 3

botskill 2

#min_bots 2
#max_bots 6

bot_chat_percent 10
bot_taunt_percent 20
bot_whine_percent 10

bot_chat_tag_percent 80
bot_chat_drop_percent 10
bot_chat_swap_percent 10
bot_chat_lower_percent 50

bot_logo_percent 40
bot_reaction_time 2


bot_strafe_percent 10
addbot
addbot
addbot

bot_strafe_percent 20
addbot
addbot
addbot
